.header{
    /* text-align: -webkit-auto; */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}

.img{
    padding: 25px;
}

.menu-item-box{
    padding: 25px;
    display: inline-flex;

}